# Build output directories
/bin/
/bin-debug/
/bin-release/
**/build/
**/target/
**/dist/

# IDE and editor files
.settings/
**/.DS_Store
.gradle/
**/nbproject/
**/nbbuild/
**/nbdist/
**/.nb-gradle/
**/node_modules/

# Temporary and cache files
**/tomcat.*/
mv.sh

# JCOP / JavaCard local libs (never commit)
/local_lib/

# Configuration files that are generated
/javacard-config.json

# Java class files
*.class

# JavaCard simulation
/jcardsim

## Private crypto implementation files
src/coolbitx/Bip32Ed25519.java
src/coolbitx/Blake2b.java
src/coolbitx/Blake3.java
src/coolbitx/Ed25519.java
src/coolbitx/Secp256k1.java
src/coolbitx/Sha2.java
src/coolbitx/Sha3.java
src/coolbitx/HmacDrbg.java
src/coolbitx/HmacSha.java
src/coolbitx/Ripemd.java
src/coolbitx/Schnorr.java
src/coolbitx/Bip340.java
src/coolbitx/KeyGenerate.java

# Additional crypto module
coolwallet-pro-se-crypto/
javacard.config
